In [51]:
import pandas as pd

In [52]:

# Región Norte
df_norte = pd.DataFrame({
    "producto": ["Laptop", "Mouse", "Pantalla", "Teclado", None],
    "cantidad": [5, 10, 3, None, 2],
    "precio_unitario": [1200, 25, 300, 50, None]
})

# Región Sur
df_sur = pd.DataFrame({
    "producto": ["Laptop", "mouse", "teclado", "Pantalla", "Laptop"],
    "cantidad": [3, 5, None, 1, 1],
    "precio_unitario": [None, 25, 50, None, 1200]
})

# Región Este
df_este = pd.DataFrame({
    "producto": ["Monitor", "Mouse", "Teclado", None, "Pantalla"],
    "cantidad": [2, None, 4, 2, 1],
    "precio_unitario": [250, 25, None, 100, 300]
})


df_productos = pd.DataFrame({
    "producto": ["Laptop", "Mouse", "Teclado", "Pantalla", "Monitor"],
    "categoria": ["Tecnología", "Accesorios", "Accesorios", "Pantallas", "Pantallas"],
    "stock": [10, 25, 8, 5, 12]
})

In [53]:
#Combinar bases
df_regiones= pd.concat([df_norte,df_este,df_sur], keys=["Norte","Este","Sur"])

In [54]:
#Validacion de datos
print("🧠 Información general:")
print(df_regiones.info())

print("\n📏 Shape:", df_regiones.shape)

print("\n🔍 Valores nulos:")
print(df_regiones.isna().sum())

print("\n📊 Estadísticas:")
print(df_regiones.describe())

🧠 Información general:
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('Norte', 0) to ('Sur', 4)
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   producto         13 non-null     object
 1   cantidad         12 non-null     float64
 2   precio_unitario  11 non-null     float64
dtypes: float64(2), object(1)
memory usage: 686.0+ bytes
None

📏 Shape: (15, 3)

🔍 Valores nulos:
producto           2
cantidad           3
precio_unitario    4
dtype: int64

📊 Estadísticas:
        cantidad  precio_unitario
count  12.000000        11.000000
mean    3.250000       320.454545
std     2.562846       448.304888
min     1.000000        25.000000
25%     1.750000        37.500000
50%     2.500000       100.000000
75%     4.250000       300.000000
max    10.000000      1200.000000

In [55]:
#Limpieza
df_regiones["cantidad"]=df_regiones["cantidad"].fillna(0)
df_regiones["precio_unitario"]=df_regiones["precio_unitario"].fillna(df_regiones["precio_unitario"].mean())
df_regiones["producto"]=df_regiones["producto"].str.lower().str.capitalize().fillna("Desconocido")

In [56]:
#Validacion de datos
print("🧠 Información general:")
print(df_regiones.info())

print("\n📏 Shape:", df_regiones.shape)

print("\n🔍 Valores nulos:")
print(df_regiones.isna().sum())

print("\n📊 Estadísticas:")
print(df_regiones.describe())

print("\n🔍 Cabecera:")
print(df_regiones.head(3))

🧠 Información general:
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('Norte', 0) to ('Sur', 4)
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   producto         15 non-null     object
 1   cantidad         15 non-null     float64
 2   precio_unitario  15 non-null     float64
dtypes: float64(2), object(1)
memory usage: 686.0+ bytes
None

📏 Shape: (15, 3)

🔍 Valores nulos:
producto           0
cantidad           0
precio_unitario    0
dtype: int64

📊 Estadísticas:
        cantidad  precio_unitario
count  15.000000        15.000000
mean    2.600000       320.454545
std     2.640346       378.886784
min     0.000000        25.000000
25%     1.000000        50.000000
50%     2.000000       300.000000
75%     3.500000       320.454545
max    10.000000      1200.000000

🔍 Cabecera:
         producto  cantidad  precio_unitario
Norte 0    Laptop       5.0           1200.0
      1     Mouse      10.0             25.0
      2  Pantalla       3.0            300.0

In [57]:
df_completo= pd.merge(df_regiones,df_productos, on="producto", how="left")
df_completo

       producto  cantidad  precio_unitario   categoria  stock
0        Laptop       5.0      1200.000000  Tecnología   10.0
1         Mouse      10.0        25.000000  Accesorios   25.0
2      Pantalla       3.0       300.000000   Pantallas    5.0
3       Teclado       0.0        50.000000  Accesorios    8.0
4   Desconocido       2.0       320.454545         NaN    NaN
5       Monitor       2.0       250.000000   Pantallas   12.0
6         Mouse       0.0        25.000000  Accesorios   25.0
7       Teclado       4.0       320.454545  Accesorios    8.0
8   Desconocido       2.0       100.000000         NaN    NaN
9      Pantalla       1.0       300.000000   Pantallas    5.0
10       Laptop       3.0       320.454545  Tecnología   10.0
11        Mouse       5.0        25.000000  Accesorios   25.0
12      Teclado       0.0        50.000000  Accesorios    8.0
13     Pantalla       1.0       320.454545   Pantallas    5.0
14       Laptop       1.0      1200.000000  Tecnología   10.0

In [58]:
#Limpieza de df total
df_completo["categoria"]=df_completo["categoria"].fillna("Desconocido")
df_completo["stock"]=df_completo["stock"].fillna(0)

In [59]:
df_completo["ingresos"]=df_completo["cantidad"]*df_completo["precio_unitario"]
df_completo

       producto  cantidad  precio_unitario    categoria  stock     ingresos
0        Laptop       5.0      1200.000000   Tecnología   10.0  6000.000000
1         Mouse      10.0        25.000000   Accesorios   25.0   250.000000
2      Pantalla       3.0       300.000000    Pantallas    5.0   900.000000
3       Teclado       0.0        50.000000   Accesorios    8.0     0.000000
4   Desconocido       2.0       320.454545  Desconocido    0.0   640.909091
5       Monitor       2.0       250.000000    Pantallas   12.0   500.000000
6         Mouse       0.0        25.000000   Accesorios   25.0     0.000000
7       Teclado       4.0       320.454545   Accesorios    8.0  1281.818182
8   Desconocido       2.0       100.000000  Desconocido    0.0   200.000000
9      Pantalla       1.0       300.000000    Pantallas    5.0   300.000000
10       Laptop       3.0       320.454545   Tecnología   10.0   961.363636
11        Mouse       5.0        25.000000   Accesorios   25.0   125.000000
12      Teclado       0.0        50.000000   Accesorios    8.0     0.000000
13     Pantalla       1.0       320.454545    Pantallas    5.0   320.454545
14       Laptop       1.0      1200.000000   Tecnología   10.0  1200.000000

In [60]:
categorias_totales=df_completo.groupby(["categoria"])["cantidad"].sum()
print("\nEl total por categoria:")
print(categorias_totales)

poco_stock=df_completo.groupby("producto")["stock"].min().sort_values(ascending=True)
print("\nInventario poco stock:")
print(poco_stock)
total_producto_region = df_completo.groupby([df_completo.index.get_level_values(0), "producto"])["ingresos"].sum()
print("Total de ingresos por productos-region ")
print(total_producto_region)

El total por categoria:
categoria
Accesorios     19.0
Desconocido     4.0
Pantallas       7.0
Tecnología      9.0
Name: cantidad, dtype: float64

Inventario poco stock:
producto
Desconocido     0.0
Pantalla        5.0
Teclado         8.0
Laptop         10.0
Monitor        12.0
Mouse          25.0
Name: stock, dtype: float64
Total de ingresos por productos-region
    producto
0   Laptop         6000.000000
1   Mouse           250.000000
2   Pantalla        900.000000
3   Teclado           0.000000
4   Desconocido     640.909091
5   Monitor         500.000000
6   Mouse             0.000000
7   Teclado        1281.818182
8   Desconocido     200.000000
9   Pantalla        300.000000
10  Laptop          961.363636
11  Mouse           125.000000
12  Teclado           0.000000
13  Pantalla        320.454545
14  Laptop         1200.000000
Name: ingresos, dtype: float64

In [62]:
total_producto_region.unstack()

producto  Desconocido       Laptop  Monitor  Mouse    Pantalla      Teclado
0                 NaN  6000.000000      NaN    NaN         NaN          NaN
1                 NaN          NaN      NaN  250.0         NaN          NaN
2                 NaN          NaN      NaN    NaN  900.000000          NaN
3                 NaN          NaN      NaN    NaN         NaN     0.000000
4          640.909091          NaN      NaN    NaN         NaN          NaN
5                 NaN          NaN    500.0    NaN         NaN          NaN
6                 NaN          NaN      NaN    0.0         NaN          NaN
7                 NaN          NaN      NaN    NaN         NaN  1281.818182
8          200.000000          NaN      NaN    NaN         NaN          NaN
9                 NaN          NaN      NaN    NaN  300.000000          NaN
10                NaN   961.363636      NaN    NaN         NaN          NaN
11                NaN          NaN      NaN  125.0         NaN          NaN
12                NaN          NaN      NaN    NaN         NaN     0.000000
13                NaN          NaN      NaN    NaN  320.454545          NaN
14                NaN  1200.000000      NaN    NaN         NaN          NaN